@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	border-collapse: collapse;
	margin: 1em auto;
}

table td:first-child{
	border-right: 1px solid;
	padding-right: .5em;
}

table td:last-child{
	border-left: 1px solid;
	padding-left: .5em;
	text-align: right;
}
